target
node
node_modules
.idea
*.iml
.classpath
.project
.settings
.tmp
.merge_file*
.sass-cache
.DS_Store
src/main/webapp/dist
.gradle
build
src/main/webapp/bower_components/
src/main/webapp/styles/AdminLTE.css
src/main/webapp/styles/application.css
src/main/webapp/styles/main.css
