<div>
    <button class="btn btn-primary btn-sm" ng-click="addNew()">
        <span class="glyphicon glyphicon-flash"></span> Create a new product
    </button>
    <div id="saveProductModal" ng-show="showProductSectorEdit" aria-labelledby="mProductLabel" aria-hidden="true">
        <div class="row">
            <form name="form" role="form" novalidate
                  class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                  ng-submit="create()">
                <div class="modal-header" style="overflow: auto;">
                    <h4 class="modal-title" id="myProductLabel">Create or edit a product sector</h4>
                </div>
                <div class="modal-body" style="overflow: auto;">
                        <div class="form-group col-md-4">
                            <label>Id</label>
                            <input type="text" class="form-control" name="id" ng-model="productSector.id" readonly >
                        </div>
                        <div class="form-group col-md-8">
                            <label>Name</label>
                            <input type="text" class="form-control" name="id" ng-model="productSector.name" >
                        </div>
                        <div class="form-group col-md-4">
                            <label>Sub Industry Sector</label>
                            <select class="form-control"
                                    ng-selected="productSector.subIndustrySector = subIndustrySectors[0]"
                                    ng-model="productSector.subIndustrySector.id"
                                    ng-options="subIndustrySector.id as subIndustrySector.description for subIndustrySector in subIndustrySectors"
                                    required="">
                            </select>
                        </div>

                        <div class="form-group col-md-8">
                            <label>Description</label>
                            <textarea type="text" class="form-control" name="description"
                                      ng-maxlength="500" rows="4"
                                      ng-model="productSector.description"></textarea>
                        </div>


                    </div>
                <div class="modal-footer" style="overflow: auto;">
                    <button type="button" class="btn-sm btn-default" data-dismiss="modal" ng-click="clear()">
                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                    </button>
                    <button type="submit" ng-disabled="form.$invalid" class="btn-sm btn-primary">
                        <span class="glyphicon glyphicon-save"></span> Save
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Product sector</th>
                <th>Industry sector</th>
                <th>Link product</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="productSector in productSectors">
                <td>{{productSector.id}}</td>
                <td>{{productSector.name}}</td>
                <td>{{productSector.subIndustrySector.description}}</td>
                <td>
                    <button type="submit"
                            ng-click="update(productSector.id)"
                            class="btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span> Edit
                    </button>
                    <button ng-click="delete(productSector.id)"
                            ng-confirm-click="Would you like to delete this product sector?"
                            class="btn-sm btn-danger">
                        <span class="glyphicon glyphicon-remove-circle"></span> Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
