<div>
    <button class="btn btn-primary btn-sm" ng-click="addNew()">
        <span class="glyphicon glyphicon-flash"></span> Create a new Supplier
    </button>
    <div id="saveSupplierModal" ng-show="showSupplierEdit" aria-labelledby="mySupplierLabel" aria-hidden="true">
        <div class="row">
            <form name="form" role="form" novalidate
                  class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                  ng-submit="create()">

                <div class="modal-header" style="overflow: auto;">
                    <h4 class="modal-title" id="mySupplierLabel">Create or edit a Supplier</h4>
                </div>
                <div class="modal-body" style="overflow: auto;">
                    <div class="col-md-6">
                        <div class="form-group col-md-4">
                            <label>Supplier Id</label>
                            <input type="text" class="form-control" name="id" ng-model="supplier.id" readonly>
                        </div>

                        <div class="form-group col-md-8">
                            <label>Supplier Name</label>
                            <input type="text" class="form-control" name="test"
                                   ng-model="supplier.supplierName" ng-minlength=1 ng-maxlength=50 >
                        </div>
                        <div class="form-group col-md-4">
                            <label>Phone</label>
                            <input type="text" class="form-control" name="id" ng-model="supplier.contactDetail.homePhone" >
                        </div>
                        <div class="form-group col-md-4">
                            <label>Fax</label>
                            <input type="text" class="form-control" name="id" ng-model="supplier.contactDetail.fax" >
                        </div>
                        <div class="form-group col-md-4">
                            <label>Email</label>
                            <input type="email" class="form-control" name="id" ng-model="supplier.contactDetail.email" >
                        </div>
                        <div class="form-group col-md-12">
                            <label>Address Detail</label>
                            <textarea type="text"
                                      class="form-control"
                                      ng-maxlength="1000"
                                      name="test"
                                      ng-model="supplier.contactDetail.address.additionalDetails">
                            </textarea>
                        </div>
                        <div class="form-group col-md-4">
                            <label>State</label>
                            <input type="text" class="form-control" name="id" ng-model="supplier.contactDetail.address.state" >
                        </div>
                        <div class="form-group col-md-4">
                            <label>Country</label>
                            <input type="text" class="form-control" name="id" ng-model="supplier.contactDetail.address.country" >
                        </div>
                        <div class="form-group col-md-4">
                            <label>Post Code</label>
                            <input type="text" class="form-control" name="id" ng-model="supplier.contactDetail.address.postCode" >
                        </div>


                    </div>
                    <div class="col-md-6">
                        <div class="modal-header" style="overflow: auto;">
                            <h4 class="modal-title" id="mySupplierContactPersonLabel">Contact person details</h4>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Title</label>
                            <select class="form-control" ng-model="supplier.contactDetail.contactPerson.title">
                                <option value="Mr" selected="selected">Mr</option>
                                <option value="Mrs">Mrs</option>
                                <option value="Miss">Miss</option>
                                <option value="Madam">Madam</option>
                            </select>
                        </div>
                        <div class="form-group col-md-8">
                            <label>Full Name</label>
                            <input type="text" class="form-control" name="id" ng-model="supplier.contactDetail.contactPerson.fullName" >
                        </div>
                        <div class="form-group col-md-4">
                            <label>Mobile</label>
                            <input type="text" class="form-control" name="id" ng-model="supplier.contactDetail.contactPerson.mobile" >
                        </div>
                        <div class="form-group col-md-4">
                            <label>Home Phone</label>
                            <input type="text" class="form-control" name="id" ng-model="supplier.contactDetail.contactPerson.homePhone" >
                        </div>
                        <div class="form-group col-md-4">
                            <label>Email</label>
                            <input type="email" class="form-control" name="id" ng-model="supplier.contactDetail.contactPerson.email" >
                        </div>

                    </div>

                    <!--<contact-widget contact="supplier.contact" />-->

                </div>
                <div class="modal-footer" style="overflow: auto;">
                    <button type="button" class="btn-sm btn-default" data-dismiss="modal" ng-click="clear()">
                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                    </button>
                    <button type="submit" ng-disabled="form.$invalid" class="btn-sm btn-primary">
                        <span class="glyphicon glyphicon-save"></span> Save
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Supplier Name</th>
                    <th>Contact Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="supplier in suppliers">
                    <td>{{supplier.id}}</td>
                    <td>{{supplier.supplierName}}</td>
                    <!--<td>{{supplier.contact.firstName + ' ' +-->
                        <!--(supplier.contact.middleName?supplier.contact.middleName:'') + ' ' +-->
                        <!--supplier.contact.lastName}}</td>-->
                    <td>{{supplier.contactDetail.contactPerson.fullName}}</td>
                    <td>
                        <button type="submit"
                                ng-click="update(supplier.id)"
                                class="btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </button>
                        <button type="submit"
                                ng-click="delete(supplier.id)"
                                class="btn-sm btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span> Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
